<div class="container">
<br />
<button class="btn btn-primary" 
       [routerLink]="['/admin/product/add']" routerLinkActive="router-link-active" >Adauga</button>
<br />
<br />
<table class="table">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let cake of cakes">
        <td>{{cake.name}}</td>
        <td>{{cake.description}}</td>
        <td>{{cake.price}}</td>
        <td>{{cake.image}}</td>
        <td><button
          class="btn btn-danger"
          (click)="delete(cake.id)">Delete</button> | 
          <button class="btn btn-info"
          [routerLink]="['/admin/product/edit/', cake.id]" routerLinkActive="router-link-active" >   Edit</button>
       </td>
      </tr>
    </tbody>
  </table>
</div>