<div class="container">
    <h3>Add new category</h3>

<br/>
    <div class="form-group">
        <label class="label">Category name</label>
        <input class="form-control col-md-3" type="text" placeholder="Name" [(ngModel)]="category.name">
        <div class="invalid-feedback">Please choose a name for cake</div>
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit" (click)="add()">Add</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</div>