<h3>Add new cake</h3>


    <div class="form-group">
      <input type="text" 
    placeholder="Name" [(ngModel)]="cake.name">
      <div class="invalid-feedback">Please choose a name for cake</div>
    </div>
  
    <div class="form-group">
      <input 
        placeholder="Description" [(ngModel)]="cake.description">

    </div>

    <div class="form-group">
      <input  
        placeholder="photo" [(ngModel)]="cake.photo">
      <!-- <div class="invalid-feedback" *ngIf="createAddForm.get('photo').touched && createAddForm.get('photo').hasError('required')">photo
        is required</div> -->
    </div>
    <div class="form-group">
        <input  
          placeholder="quantity">
        <!-- <div class="invalid-feedback" *ngIf="createAddForm.get('photo').touched && createAddForm.get('photo').hasError('required')">photo
          is required</div> -->
      </div>
    <div class="form-group">
      <input 
        placeholder="price">
      <!-- <div class="invalid-feedback" *ngIf="createAddForm.get('price').hasError('required')
        && createAddForm.get('price').touched"> 
        price is required</div>
  
      <div class="invalid-feedback" *ngIf="createAddForm.get('price').hasError('minlength')
          && createAddForm.get('price').touched">
        price must be at least 4 characters</div>
  
      <div class="invalid-feedback" *ngIf="createAddForm.get('price').hasError('maxlength')
              && createAddForm.get('price').touched">
        price cannot exceed 8 characters</div>
        -->
    </div>

  
    <div class="form-group">
        <input 
          placeholder="status" [(ngModel)]="cake.status">
        <!-- <div class="invalid-feedback" *ngIf="createAddForm.get('status').touched && createAddForm.get('status').hasError('required')">photo
          is required</div> -->
      </div>

      <div class="form-group">
        <input 
          placeholder="category" [(ngModel)]="cake.categoryId">
        <!-- <div class="invalid-feedback" *ngIf="createAddForm.get('photo').touched && createAddForm.get('photo').hasError('required')">photo
          is required</div> -->
      </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit" (click)="add()">Add</button>
      <!-- <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button> -->
    </div>
