<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update Cake</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="cake.name" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="cake.description" class="form-control" placeholder="Description">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="cake.photo" class="form-control" placeholder="Photo">
      </div>
      <div class="form-group">
        <input type="number" [(ngModel)]="cake.price" class="form-control" placeholder="Price">
      </div>
      <div class="form-group">
        <input type="number" [(ngModel)]="cake.quantity" class="form-control" placeholder="Quantity">
      </div>
      <div class="form-group">
        <input type="hidden" [(ngModel)]="cake.status" class="form-control" placeholder="Status">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateCake()">Update Cake</button>
      </div>
      
    </div>
  </div>